.title_code {
    grid-column: 2 / 6;
    grid-row: 3 / 4;
    justify-self: center;
    align-self: flex-end;
    font-size: 8rem;
}

.text_code {
    grid-column: 2 / 6;
    grid-row: 4 / span 1;
    justify-self: center;
    font-size: 2.25rem;
    font-style: italic;
    text-transform: capitalize;
}

.link_code {
    grid-column: 3 / 5;
    grid-row: 5 / span 1;
    justify-self: center;
    font-size: 1.25rem;
}