.text {
    display: block;
    white-space: nowrap;
    font-size: 8rem;
    font-style: normal;
    position: relative;
}

.text:nth-of-type(1) {
    margin-bottom: var(--spacing);
    grid-column-start: 3 / span 3;
    align-self: flex-end;
}

.text:nth-of-type(2) {
    font-style: italic;
}

.text:nth-of-type(4) {
    font-style: italic;
}