@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

:root {
  --max-width: 1920px;
  --grid-spacing: 1.25rem;
  --spacing: 1rem;
  --mobile-spacing: 0.5rem;

  --text_title-size: 4rem;
  --text_body-size: 1rem;
  --mobile_title-size: 2.5rem;
  --mobile_body-size: 0.875rem;

  --background-colour: #212529;
  --text-colour: #030605;
  --off-white: rgba(255, 255, 255, 0.70);

  --shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: default;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

body {
  background: var(--background-colour);
}

#__next {
  min-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

h1, a, p, div, nav, button {
  color: var(--text-colour);
  font-family: 'Geist', sans-serif;
  font-weight: 400;
  font-size: 3rem;
}

h1 {
    letter-spacing: -1px;
}

h2 {
  color: var(--text-colour);
  font-family: 'Geist', sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
}

h3 {
  color: var(--text-colour);
  font-family: 'Geist', sans-serif;
  font-weight: 400;
  font-size: 2rem;
}

h4 {
  color: var(--text-colour);
  font-family: 'Geist', sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
}

h5 {
  color: var(--text-colour);
  font-family: 'Geist', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
}

h6 {
  color: var(--text-colour);
  font-family: 'Geist', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

ul {
  list-style: none;
  color: inherit;
}

nav {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 4.12rem;
  z-index: 9999;
}

nav ul {
  width: fit-content;
  display: inline-flex;
  padding: 0.427rem;
  align-items: flex-start;
  gap: var(--spacing);
  border-radius: 3.375rem;
  background: linear-gradient(97deg, rgba(255, 255, 255, 0.54) 33.8%, rgba(255, 255, 255, 0.43) 61.36%);
  box-shadow: var(--shadow);
  backdrop-filter: blur(12px);
  list-style: none;
}

nav li {
  display: flex;
  padding: 0.854rem 1.5367rem;
  justify-content: center;
  align-items: center;
  gap: 0.579vw;
  border-radius: 2.375rem;
  cursor: pointer;
}

nav li a p {
  font-size: var(--text_body-size);
  cursor: pointer;
  text-decoration: none;
}

a p {
  cursor: pointer;
}

p > a {
  cursor: pointer;
  font-weight: 400;
  font-size: 3rem;
  text-decoration: underline;
}

nav > p {
  font-size: var(--text_body-size);
}

nav li:has(a.selected) {
  background: var(--off-white);
  box-shadow: var(--shadow);
}

main {
  width: 100%;
  height: 100%;
  max-width: var(--max-width);
  padding: var(--spacing);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: var(--spacing);
}




.wall {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wall form {
    display: flex;
    gap: 2rem;
}

.wall input {
    padding: 1rem;
}

.wall form :is(input, button, p) {
    font-size: var(--text_body-size);
}







@media (max-width: 768px) {
  :root {
    --grid-spacing: 1rem;
    --spacing: 1rem;
    --text_title-size: 2.5rem;
    --text_body-size: 0.875rem;
  }
  /*h1, h2, h3, h4, h5, h6, a, p, div, nav, button {
    font-size: var(--text_title-size);
  }*/
  main {
    grid-template-columns: repeat(6, 1fr);
  }
}
