.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content__container_parent {
  height: fit-content;
  width: 100%;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.error__container {
  text-align: left;
}

.content__container {
  display: flex;
  gap: 2rem;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.content__container_parent::-webkit-scrollbar {
  display: none;
}

a.project {
  display: flex;
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  width: 70.139vw;
  height: 76.723vh;
  flex-shrink: 0;
  border-radius: 1rem;
  background-image: 
    linear-gradient(180deg, rgba(0, 0, 0, 0.00) 61%, rgba(0, 0, 0, 0.70) 100%),
    var(--bg-image);
  background-blend-mode: overlay;
  overflow: hidden;
  position: relative;
}

.project__content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  color: white;
}

.project__year {
  color: #000 !important;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 4rem;
  background: #FFF;
  padding: 0.5rem 1rem;
  width: fit-content;
}

.project__title {
  color: #FFF;
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.project__content > p {
  color: #FFF;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}