.main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content__container_parent {
  height: fit-content;
  width: 100%;
  padding-left: 2em;
  max-width: var(--max-width);
  overflow-x: auto;
}

.error__container {
  font-size: clamp(20px, 100vw, 8rem);
}

.content__container {
  display: flex;
  gap: 1rem;
}