.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ce1818;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.image__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 59.8125rem;
    height: 36.438rem;
    flex-shrink: 0;
    object-fit: cover;
}