.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.image__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image, .image__container > img {
    width: 34.5975dvw !important;
    height: auto !important;
    flex-shrink: 0;
    object-fit: cover;
}

p.image__fallback {
    color: #000;
}

@media (max-width: 700px) {
    .image, .image__container > img {
        width: 90dvw !important;
        height: auto !important;
        flex-shrink: 0;
        object-fit: cover;
    } 
}