.text {
    display: block;
    white-space: nowrap;
    font-size: 7rem;
    font-style: normal;
    position: relative;
    line-height: 90%;
  }
  
  .text:nth-of-type(1) {
    grid-column: 2 / span 2;
    align-self: flex-end;
    grid-row: 1 / 3;
  }
  
  .text:nth-of-type(2) {
    font-style: italic;
    grid-column: 4 / 6;
    grid-row: 3 / 5;
  }
  
  .text:nth-of-type(3) {
    grid-column: 7 / 9;
    grid-row: 5 / 7;
    font-style: italic;
  }
  
  .text:nth-of-type(4) {
    grid-column: 9 / 11;
    grid-row: 7 / 8;
  }

  main:has(.content_container){
    height: 100vh;
    grid-template-rows: repeat(6, 14.5vh);
  }

  .featured_image {
    grid-column: 3 / 11;
    grid-row: 1 / 3;
    border-radius: 0rem 0rem 1.125rem 1.125rem;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
    margin-top: -1rem;
  }
  
  .back_button {
    grid-column: 4 / span 1;
    grid-row: 3 / span 1;
    align-self: flex-end;
    font-size: var(--text_body-size);
  }
  
  .date {
    grid-column: 8 / span 2;
    grid-row: 3 / span 1;
    align-self: flex-end;
    justify-self: flex-end;
    font-size: var(--text_body-size);
  }
  
  .title {
    grid-column: 4 / span 6;
    grid-row: 4 / span 1;
    font-size: var(--text_title-size);
  }
  
  .content_container {
    grid-column: 4 / span 6;
    grid-row: 5 / auto;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding-bottom: 7rem;
      height: fit-content;
  }
  
  .content_container > p {
    font-size: var(--text_body-size);
    font-style: normal;
    line-height: normal;
  }

  .content_container img {
    width: 100%;
    border-radius: 1.125rem;
  }
  
  @media (max-width: 768px) {
    main:has(.text){
      display: flex;
      flex-direction: column;
      gap: var(--spacing);
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    .text {
      align-self: center !important;
      font-size: var(--text_title-size);
    }
    .featured_image {
        grid-column: 1 / 7;
    }
      .back_button {
          grid-column: 1 / span 1;
          grid-row: 3 / span 1;
          align-self: flex-end;
          font-size: var(--text_body-size);
      }
      
      .date {
          grid-column: 6 / span 2;
          grid-row: 3 / span 1;
          align-self: flex-end;
          justify-self: flex-end;
          font-size: var(--text_body-size);
      }
      
      .title {
          grid-column: 1 / 7;
          grid-row: 4 / span 1;
          font-size: var(--text_title-size);
      }
      .content_container {
          grid-column: 1 / 7;
          grid-row: 5 / auto;
        }
  }