.text {
    display: block;
    white-space: nowrap;
    font-size: 7rem;
    font-style: normal;
    position: relative;
    line-height: 90%;
  }
  
  .text:nth-of-type(1) {
    grid-column: 2 / span 2;
    align-self: flex-end;
    grid-row: 1 / 3;
  }
  
  .text:nth-of-type(2) {
    font-style: italic;
    grid-column: 4 / 6;
    grid-row: 3 / 5;
  }
  
  .text:nth-of-type(3) {
    grid-column: 7 / 9;
    grid-row: 5 / 7;
    font-style: italic;
  }
  
  .text:nth-of-type(4) {
    grid-column: 9 / 11;
    grid-row: 7 / 8;
  }

  @media (max-width: 768px) {
    main:has(.text){
      display: flex;
      flex-direction: column;
      gap: var(--spacing);
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    .text {
      align-self: center !important;
      font-size: var(--mobile_title-size);
    }
  }

main.main::before {
    content: "";
    grid-column: 1 / 13;
    grid-row: 1 / 2;
    min-height: 10vh;
    display: block;
}

main.main {
  padding-bottom: 3rem;
  overflow-y: scroll;
  grid-auto-rows: minmax(100px, auto);
}

.work {
  position: relative;
    grid-column: span 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.25rem;
    padding: 1.25rem;
    border-radius: 1.125rem;
    background: #000;
    aspect-ratio: var(--aspect-ratio);
}

.meta_text {
    grid-column: 1 / span 2;
    font-size: var(--text_body-size);
    font-style: normal;
    line-height: normal;
}

.work > a {
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-self: flex-end;
    grid-column: 3 / 4;
}

.work_title {
    grid-row: 2 / span 2;
    align-self: flex-end;
    grid-column: span 3;
}

.work img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 70%;
  object-fit: cover;
  z-index: -1;
}