.text {
    display: block;
    white-space: nowrap;
    font-size: 7rem;
    font-style: normal;
    position: relative;
    line-height: 90%;
  }
  
  .text:nth-of-type(1) {
    grid-column: 2 / span 2;
    align-self: flex-end;
    grid-row: 1 / 3;
  }
  
  .text:nth-of-type(2) {
    font-style: italic;
    grid-column: 4 / 6;
    grid-row: 3 / 5;
  }
  
  .text:nth-of-type(3) {
    grid-column: 7 / 9;
    grid-row: 5 / 7;
    font-style: italic;
  }
  
  .text:nth-of-type(4) {
    grid-column: 9 / 11;
    grid-row: 7 / 8;
  }

main.main::before {
    content: "";
    grid-column: 1 / 13;
    grid-row: 1 / 2;
    min-height: 10vh;
    display: block;
}

main.main {
  padding-bottom: 3rem;
  overflow-y: scroll;
  grid-template-rows: min-content auto;
  grid-auto-rows: min-content 1fr;
}

.work {
  position: relative;
    grid-column: span 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.25rem;
    padding: 1.25rem;
    border-radius: 1.125rem;
    background: #fff;
    aspect-ratio: var(--aspect-ratio);
}

.work_loading {
  position: relative;
    grid-column: span 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.25rem;
    padding: 1.25rem;
    border-radius: 1.125rem;
    background: #fff;
    aspect-ratio: var(--aspect-ratio);
    animation: fade 1s infinite;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.work_error {
  position: relative;
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1.25rem;
    border-radius: 1.125rem;
    background: #fff;
    aspect-ratio: var(--aspect-ratio);
}

.work_error > p {
  font-size: var(--text_body-size);
}

.meta_text {
    grid-column: 1 / span 2;
    font-size: var(--text_body-size);
    font-style: normal;
    line-height: normal;
    z-index: 3;
}

.work > a {
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-self: flex-end;
    grid-column: 3 / 4;
    z-index: 3;
}

.work_title {
    grid-row: 2 / span 2;
    align-self: flex-end;
    grid-column: span 3;
    z-index: 3;
}

.work img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 90%;
  object-fit: cover;
  border-radius: 1.125rem;
}

@media (max-width: 768px) {
  main:has(.text){
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .text {
    align-self: center !important;
    font-size: var(--text_title-size);
  }
  main.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 7rem;
  }
  .work, .work_loading, .work_error {
    width: 100%;
    padding: var(--spacing);
    gap: var(--spacing);
  }
}