.text {
    display: block;
    white-space: nowrap;
    font-size: 7rem;
    font-style: normal;
    position: relative;
    line-height: 90%;
  }
  
  .text:nth-of-type(1) {
    grid-column: 2 / span 2;
    align-self: flex-end;
    grid-row: 1 / 3;
  }
  
  .text:nth-of-type(2) {
    font-style: italic;
    grid-column: 4 / 6;
    grid-row: 3 / 5;
  }
  
  .text:nth-of-type(3) {
    grid-column: 7 / 9;
    grid-row: 5 / 7;
    font-style: italic;
  }
  
  .text:nth-of-type(4) {
    grid-column: 9 / 11;
    grid-row: 7 / 8;
  }

  @media (max-width: 768px) {
    main:has(.text){
      display: flex;
      flex-direction: column;
      gap: var(--spacing);
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    .text {
      align-self: center !important;
      font-size: var(--mobile_title-size);
    }
  }